*{margin: 0;}

/* header section style */

header{
    height: 809px;
    background-image: url('../asset/banner/banner2.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.header{
    padding-top: 230px;
}

.header-title{
    width: 525px;
    height: 228px;
    left: 845px;
    top: 216px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    line-height: 76px;
    text-align: left;
    color: #151414;
    margin-bottom: 24px;
    margin-left: 230px;
    

}
.header-description{
width: 442px;
height: 78px;
margin-bottom: 32px;
margin-left: 230px;
}
.header-button{
width: 160px;
height: 64px;
font-family: 'Work Sans';
font-style: normal;
font-weight: 600;
font-size: 20px;
color: #FFFFFF;
border: none;
background-color: #F15B22;
margin-left: 230px;
border-radius: 5px;
}
.header-button:hover{
    background-color: #FFFFFF;
    color: #F15B22;
}

/* showcase style */

.main-showcase{
    margin: auto;
    display: flex;
    width: 1072px;
    height: 723.3px;
    margin-top: 130px;
}
.showcase-img{
    width: 569px;
    height: 723.3px;
}

.showcase-detail{
    width: 416px;
    height: 400px;
    margin-left: 87px;
    margin-top: 239px;
    margin-right: 87px;
}

h1.showcase-title{
    width: 288px;
    height: 94px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #151414;
    margin-bottom: 24px;
    
}

p.showcase-description{
    width: 416px;
    height: 104px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #444343;
}

ul.showcase-list{
    margin-top: 16px;
    width: 349px;
    height: 162px;
    list-style: none;
    margin-left: -38px;
}
ul.showcase-list li i{
    margin-right: 7px;
    color: #16D887;
}
/* about me styles */

.about-me-section{
    width: 100%;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 43px;
    
}
.about-me{
    background-color: #444343;
    padding-bottom: 25px;
}
.about-me-title{
    text-align: center;
    font-size: 80px;
    font-weight: 700;
    font-family: 'Work Sans';
    margin-bottom: 30px;


}

.about-me-title span{
    color: #F15B22;
}
.about-me-description{
    text-align: center;
    font-size: 23px;
    color: #737272;
}

button.subscribe-btn {
    color: #FFFFFF;
    background-color: #F15B22;
    margin: auto;
    margin-left: 663px;
    width: 254px;
    height: 43px;
    font-size: 15px;
    font-weight: 700;
    margin-top: 18px;
    border: 1px solid black;
    margin-bottom: 45px;
    border-radius: 5px;
}
button.subscribe-btn:hover{
    color: #F15B22;
    background-color: rgb(45, 44, 44);
    border-radius: 5px;
} 
.about-me-main-header{
    width: 211px;
    height: 47px;
    margin: auto;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #151414;
    margin-bottom: -70px;
    margin-top: 90px;
    padding-top: 56px;

}
.about-me-btns li{
    list-style: none;
    padding: 20px 28px;
    text-align: center;
    background: #F15B22;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 5px;
}
.about-me-btns li:hover{
    background: rgb(45, 44, 44);
    color: #F15B22;
    border: 1px solid #F15B22;
    border-radius: 5px;
}


ul.about-me-btns{
    display: flex;
    justify-content: space-between;
    margin-left: -40px;   
}
.about-me-buttons{
width: 50%;
margin: auto;
margin-top: 50px;

}
hr{
    margin: auto;
    width: 50%;
}

/* My plane styles */

.my-plans-section{
    width: 1141px;
    height: 299.96px;
    margin: auto;
    margin-top: 130px;
    margin-bottom: -40px;
}

h1.my-plans-header{
width: 179px;
height: 47px;
margin: auto;
font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 47px;
color: #151414;
margin-bottom: 50px;

}
.my-plans{
display: flex;

}

.my-plan{
    width: 218px;
    height: 197px;
    text-align: center;
    margin-left: 50px;
}
h2.plan-title{
    width: 218px;
    height: 35px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 35px;
    text-align: center;
    color: #151414;
    margin-bottom: 16px;
    
}

h3.plan-description{
    width: 221px;
    height: 29px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    color: #737272;
    
}

.my-plan img{
    width: 80px;
    height: 80px;
    margin-bottom: 24px;
}


/* call now style */
.call-now{
    width: 1050px;
    height: 300px;
    margin: auto;
    background-image: linear-gradient(to left, rgba(228, 8, 8, 0), rgb(255 145 0 / 88%)),url('../asset/watch.png');
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    margin-top: 130px;
    margin-bottom: 130px;


}
h1.call-now-header{
    width: 459px;
    height: 94px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #FFFFFF;
}

button.call-now-btn{
width: 160px;
height: 64px;
border-radius: 5px;
background-color: white;
color: rgb(255 145 0 / 88%);
border: none;
font-size: 20px;
font-weight: 700;
margin-top: 24px;
}
button.call-now-btn:hover{
    color: white;
    background-color: black;
}
.call-now-left{
    width: 410px;
    height: 143px;
    margin-left: 70px;
    padding-top: 60px;
}
/* footer style */
.main-footer{
    display: flex;
    width: 100%;
    height: 577px;
    background: black;
}
.future-section{
    width: 485px;
    height: 317px;
    margin-top: 130px;
    margin-left: 130px;
}

h1.future-section-title{
    width: 148px;
    height: 53px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #F8F8F8;
    margin-bottom: 16px;
}

.future-section-description{
    color: #F8F8F8;
    margin-bottom:24px;
}
.email-phone{
    width: 300px;
    height: 146px;
    
}

h5.email-title {
    font-size:16px;
    margin-bottom: 24px;
    color: #ffffff;

}
.phone-title{

    font-size:16px;
    margin-bottom: 32px;
    color: #ffffff;
    width: 180px;
    height: 29px;

}

.subscribe-section{
    width: 325px;
    height: 204px;
    margin: auto;
    
}
h1.subscribe-header{
    width: 123px;
    height: 29px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 29px;
    color: #FFFFFF;
    margin-bottom: 31px;
    
}

input.email-class {
    width: 325px;
    height: 43px;
    border: 1px solid white;
    background: black;
    border-radius: 5px;
    color:white
    
}


button.subscribe-btn2{
    width: 150.11px;
    height: 55px;
    color: #F15B22;
    background: white;
    border-radius: 5px;
    margin-top: 16px;
    font-size: 20px;
    font-weight: 700;
    border: none;

}
button.subscribe-btn2:hover{
    color: white;
    background: #F15B22;
}


























































